<form [formGroup]="form" (submit)="submitFormData.emit(form.value)">

    <mat-form-field appearance="fill" class="mr-6">
        <mat-label>UID</mat-label>
        <input type="number" matInput formControlName="uid">
        <mat-error> Please enter the UID</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="mr-6">
        <mat-label>Vender Name</mat-label>
        <input type="text" matInput formControlName="vendor">
        <mat-error> Please enter the Vender"</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">

        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error> Please Select a date</mat-error>
    </mat-form-field>

    <div class="mb-1">
        <mat-label>Select the device state</mat-label>
        <mat-radio-group aria-label="Select the status" formControlName="status">
            <mat-radio-button [value]="false">Offline</mat-radio-button>
            <mat-radio-button [value]="true">Online</mat-radio-button>
        </mat-radio-group>

    </div>

    <button mat-raised-button color="primary" [disabled]="!form.valid"> {{isForUpdate? 'Update' :'Add'}}</button>
</form>